<div class="row">
	<div class="small-6 small-centered columns">
		<p><%= image_tag "logo.png" %></p>
		<p><%= link_to "Login", new_user_session_path, :class => 'button radius expand'  %></p>
	</div>
</div>

